@import "../../scss/variables.module";
@import "../../scss/mixins.module";
.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem 0 2rem;
  width: 100vw;
  position: absolute;
  z-index: 99;
  top: 0;
  &__logo{
    position: relative;
    width: 16rem;
    height: 4rem;
  }

  &__links{
    display: flex;
    gap: 2rem;
  }
}

.paragraph {
  font-size: 1rem;
  font-weight: $font-weight-medium;
  color: $color-black;
  position: relative;
  &::before {
    content: "";
    visibility: hidden;
    position: absolute;
    top: 1.25rem;
    width: 100%;
    left: 0.1rem;
    height: 0.25rem;
    background-color: #1A63F4;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
  }
  &:hover {
    &::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

.menuIcon {
  display: none; // Hide menu icon on desktop
}

@include respond(phone){
  .menuIcon{
    display: block;
    top: 0;
    height: 4rem;
  }
  .container{
    flex-flow: row-reverse wrap;
    align-content: flex-start;
    position: fixed;
    padding: 0 1rem 0 1rem;
    background-color: $color-white;
    &__logo {
      //display: none;
      width: 12rem;
      height: 3rem;
    }
    &__links {
      display: none;
      flex-flow: column;
      gap: 2rem;
      width: 100%;
      &__open{
        display: flex;
        padding-bottom: 1rem;
        min-height: 18rem;
      }
    }
  }
  .paragraph{
    &:hover{
      &::before{
        visibility: hidden;
      }
    }
  }
}