// Website Colours

$color-accent: #1A63F4;
$color-black: #1F3249;
$color-white: #FAF5F8;
$color-grey: #73777C;

// Fonts
$font-primary: 'Roboto', sans-serif;

// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Font Size
